#banner { position:relative;margin:0 auto; z-index:9;  clear: both; max-width1: 1920px; overflow: hidden; }
#banner ul { margin:0 auto; padding: 0; list-style: none;}
#banner ul li {height:100vh;  background-position: center bottom; background-repeat: no-repeat; background-size:100%; position: relative;}
#banner .banner-title { position: absolute; top:28.80%; right: 16.66%;  text-align: center; color: #000000; }
#banner .banner-title h1{font-size: 320%; font-weight:200;}
#banner .banner-title p{font-size:165%; font-weight:300;}

.scroll-downs {position: absolute;top:auto; right: 0;bottom: 30px;left: 0;margin: auto; width :22px; height:33px; border: 1px solid #4e4e4e; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;display: inline-block;}
.scroller {display: inline-block; width: 1px; height: 8px; margin: 10px; background-color: #4e4e4e; animation-name: scroll; animation-duration: 2.2s; animation-timing-function: cubic-bezier(.15,.41,.69,.94); animation-iteration-count: infinite;}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

/* date picker */
.ui-widget {font-family: 'Titillium Web', sans-serif; font-size: 11px; font-weight: 400; color: #000;}
#calendar {background: url(../images/calendar-bg.png) left top no-repeat; width: 275px; height: 223px; position:absolute; left: 2.66%; bottom:120px; top: auto;}
#calendar #datepicker {position: absolute; left: 80px; top: 42px; opacity: 1; transform: rotate(-2deg) skewX(7deg);}
.ui-datepicker {width: 15.5em;}
.ui-datepicker th {font-size: 8px; font-weight: 400; text-transform: uppercase; color: rgba(0,0,0,0.8); padding: 0.4em 0.3em 0;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    font-weight: inherit; padding: 0; width: 18px; height: 18px; line-height: 16px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {border-radius: 0;}
.ui-widget-header, .ui-widget.ui-widget-content {border: none; border-radius: 0; background-color: transparent;}
.ui-datepicker td span, .ui-datepicker td a {padding: 1px 2px; text-align: center;}
.ui-datepicker .ui-datepicker-title {font-weight: 400; color: #ff0000; text-align: right; text-transform: uppercase; margin: 0; line-height: normal;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {display: none;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {border: none; background: none; color: #000;}
.ui-state-active {background-color: transparent; font-weight: 400; border-radius: 50%; position: relative;}
.ui-state-active:before {content: ''; position: absolute; left: 0; top: 0; background: url(../images/marked.png) left top no-repeat; background-size: 18px 18px; width: 18px; height: 18px;}
.ui-datepicker-month {font-variant: small-caps;}
.ui-datepicker .ui-datepicker-header {padding: 0;}